modx_evolution.IDEhelper.php
.DS_Store
/.idea
/vendor
/public
composer.lock
ftpsync.settings

# MODX Evolution
/ht.access
/robots.txt
/index.php
/index-ajax.php
/.htaccess
/manager/
/assets/
!/assets/images/noimage.jpg
!/assets/snippets/DLUsers
!/assets/snippets/DocLister
!/assets/snippets/summary
!/assets/lib
/assets/lib/class.modxRTEbridge.php
/assets/lib/document.class.inc.php
/assets/lib/resourse.php
!/assets/js/easy-ui
!/assets/js/euigrid
!/assets/js/euiuploader
!/assets/js/fileapi
!/assets/js/handlebars
!/assets/js/jeditable
!/assets/js/jquery
!/assets/js/sortable
!/assets/js/.htaccess
/install/
!/install/assets/snippets/DL*.tpl
!/install/assets/snippets/DocLister.tpl
!/install/assets/snippets/DDocInfo.tpl
!/install/assets/snippets/summary.tpl
