<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
        >
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/src/Unit</directory>
        </testsuite>

        <testsuite name="Real">
            <directory>./tests/src/Real</directory>
        </testsuite>
    </testsuites>
    <php>
        <includePath>.</includePath>
        <const name="MODX_BASE_PATH" value="./"/>
        <const name="MODX_MANAGER_PATH" value="./tests/modx/"/>
        <const name="MODX_SITE_URL" value="http://example.com/"/>
        <server name="REQUEST_URI" value="/index.php?q=news"/>
    </php>
</phpunit>
