<div class="section">
    <div class="sectionHeader">Легенда</div>
    <div class="sectionBody" style="padding:10px 20px;">
        <table>
            <tbody>
            <tr>
                <td style="width:250px">
                    <dl>
                        <dt><img src="media/style/<?=$manager_theme;?>/images/icons/page_white_magnify.png"/></dt>
                        <dd>Производить сверку правила с учетом GET параметров</dd>

                        <dt><img src="media/style/<?=$manager_theme;?>/images/icons/page_white_copy.png"/></dt>
                        <dd>Производить сверку правила без учета GET параметров</dd>
                    </dl>
                </td>
                <td style="padding-left:20px;width:250px">
                    <dl>
                        <dt><img src="media/style/<?=$manager_theme;?>/images/icons/exclamation.png"/></dt>
                        <dd>Игнорировать GET параметры при редиректе</dd>

                        <dt><img src="media/style/<?=$manager_theme;?>/images/icons/save.png"/></dt>
                        <dd>Сохранять GET параметры при редиректе</dd>

                    </dl>
                </td>
                <td style="padding-left:20px;width:250px">
                    <dl>
                        <dt><img src="media/style/<?=$manager_theme;?>/images/icons/stop.png"/></dt>
                        <dd>Отключить правило</dd>

                        <dt><img src="media/style/<?=$manager_theme;?>/images/icons/add.png"/></dt>
                        <dd>Активировать правило</dd>
                    </dl>
                </td>
                <td style="padding-left:20px;width:250px">
                    <dl>
                        <dt><img src="media/style/<?=$manager_theme;?>/images/icons/delete.png"/></dt>
                        <dd>Полное удаление правила</dd>
                    </dl>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

