<div class="section">
    <div class="sectionHeader">Загрузка файлов импорта</div>
    <div class="sectionBody" style="padding:10px 20px;">
        <p><strong>Соглашение о поддерживаемых форматах</strong></p>
        <ol>
            <li>Загружаемый файл не должен превышать 5 Мбайт</li>
            <li>Загружаемый файл должен быть представлен в следующих форматах <a href="http://ru.wikipedia.org/wiki/CSV"
                                                                                 target="_blank">CSV</a> или <a
                    href="http://ru.wikipedia.org/wiki/Txt" target="_blank">TXT</a></li>
            <li>Число строк в файле не должно превышать 10 000</li>
        </ol>
        <br/>

        <p><strong>Соглашение о станадартах содержимого в файлах формата TXT</strong></p>
        <ol>
            <li>На каждой строке должно быть указано одно URL с учетом ведущего слеша</li>
        </ol>
        <br/>

        <p><strong>Соглашение о станадартах содержимого в файлах формата CSV</strong></p>
        <ol>
            <li>В качестве разделителя используется символ <strong>;</strong> (<em>точка с запятой</em>)</li>
            <li>Каждая строка должна быть представлена в виде набора из 5 параметров:
                <ol>
                    <li>ID документа (<em>любое целое число</em>)</li>
                    <li>Флаг сохранения GET параметров (<em>1 - сохранять, 0 - не сохранять</em>)</li>
                    <li>Флаг поиска правила с учетом GET параметров (<em>1 - учитывать, 0 - не учитывать</em>)</li>
                    <li>Фалаг активности правила (<em>1 - активно, 0 - не активно</em>)</li>
                    <li>URL (любая строка)</li>
                </ol>
            </li>
        </ol>
        <p>Обратите внимание, что если вы добавляете URL с GET параметрами, то флаг поиска правил с учетом GET
            параметров должен быть выставлен в значение 1.
            Для примера, вы добавили ссылку /index.php?post=1&categoryID=22 которая будет вести на документ ID 3 со
            ссылкой /shop/phone.html.
            При этом флаг поиска правила с учетом GET параметров выставлен в значении 0. Таким образом, при заходе на
            сайт по ссылке /index.php?post=1&categoryID=22, будет произведен поиск правила по URI /index.php.
            И именно для того, чтобы поисходил поиск правила по всей ссылке, нужно выставить флаг в значение 1.
        </p>

        <p>
            Если же выставить флаг сохранения GET параметров в значение 1, то на примере предыдущей предыдущих ссылок,
            произойдет редирект с адреса
            /index.php?post=1&categoryID=22 на /shop/phone.html?post=1&categoryID=22
            Это может быть полезно на страницах с фильтрами (<em>когда адрес страницы изменился, а фильтры остались
            прежними)</em>, но в большинстве случаев это лишнее и поэтому рекомендуется выставлять флаг сохранения GET
            параметров в значение 0.
        </p>
        <hr/>
        <p><strong style="color:#cc0000;">Внимание!</strong> После выбора файла он будет автоматически загружен и
            обработан.</p>

        <div class="js-fileapi-wrapper">
            <div class="js-browse">
                <input name="filedata" type="file"/>
            </div>
            <div class="js-upload" style="display: none">
                <div class="progress progress-success">
                    <div class="js-progress bar"></div>
                </div>
                <span class="btn-txt">Загрузка (<span class="js-size"></span>)</span>
            </div>
        </div>
    </div>
</div>

